.title {
	text-align: center;
	margin-bottom: 40px;
	padding-top: 40px;
	text-transform: uppercase;
}

.goBackBtn {
	margin-bottom: 20px;
}

.additionalTitle {
	margin-top: 50px;
	text-transform: uppercase;
	text-align: center;
	color: #646cff;
}
