/* .cardList {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;

}
.cardItem {
	text-align: center;
	padding: 10px;
	border: 1px solid #646cff;
	border-radius: 8px;
	width: 200px;
	height: 300px;
	cursor: pointer;
} */

.cardList {
	display: flex;
	flex-wrap: wrap;
	gap: 40px;
	justify-content: center;
	margin-top: 50px;
}

.cardItem {
	/* width: 200px; */
	/* height: 400px; */
	border: 1px solid #646cff;
	border-radius: 8px;
	padding: 4px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
}
